@font-face {
  font-family: "'Oswaldregular'";
  font-weight: 400;
  font-style: normal;
  src: local('Oswaldregular'), local('Oswaldregular'), url('../fonts/Oswaldregular.woff2') format('woff2'), url('../fonts/Oswaldregular.woff') format('woff');
}

@font-face {
  font-family: "'Oswaldmedium'";
  font-weight: 400;
  font-style: normal;
  src: local('Oswaldmedium'), local('Oswaldmedium'), url('../fonts/Oswaldmedium.woff2') format('woff2'), url('../fonts/Oswaldmedium.woff') format('woff');
}

@font-face {
  font-family: "'Arial'";
  font-weight: 400;
  font-style: normal;
  src: local('Arial'), local('Arial'), url('../fonts/Arial.woff2') format('woff2'), url('../fonts/Arial.woff') format('woff');
}
