body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: $font-family;
  //background: url("../_design/cat-energy-index-mobile.jpg") no-repeat center top;
  //background: url("../_design/cat-energy-catalog-mobile.jpg") no-repeat center top;
  //background: url("../_design/cat-energy-form-mobile.jpg") no-repeat center top;
  //min-height: 2984px;
  //min-height: 2136px;
  //min-height: 3527px;
  //background-color: #2aab6d;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $screen-md) {
  body {
    //background: url("../_design/cat-energy-index-tablet.jpg") no-repeat center top;
    //background: url("../_design/cat-energy-catalog-tablet.jpg") no-repeat center top;
    //background: url("../_design/cat-energy-form-tablet.jpg") no-repeat center top;
    //min-height: 4341px;
  }
}

@media (min-width: $screen-lg) {
  body {
    //background: url("../_design/cat-energy-index-desktop.jpg") no-repeat center top;
    //background: url("../_design/cat-energy-catalog-desktop.jpg") no-repeat center top;
    //background: url("../_design/cat-energy-form-desktop.jpg") no-repeat center top;
    //min-height: 2809px;
  }
}
