build/*
design/
sass/style.scss
sass/blocks/sprite-svg/img/sprite-svg.svg
sass/blocks/sprite-png/sprite-png.scss
sass/blocks/sprite-png/img/sprite-*.png
node_modules/
package-lock.json
.DS_Store
*.log
*.rar
*.zip
.idea
ex_files
Thumbs.db
__MACOSX
.DS_Store
.idea
*.ai
*.pdf
*.psd
css/*.css
_design/
build/
.publish/
